.callout {
  --callout-color: var(--blue);
  --callout-icon: lucide-pencil;
  --callout-collapse-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTkgMThsNi02bC02LTYiLz48L3N2Zz4=);
  background-color: hsl(from var(--callout-color) h s l / 0.2);
  border-color: hsl(from var(--callout-color) h s l / 0.5);
  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  margin: 1.5em 0 !important;
  padding: 10px 12px 10px 15px;

  svg {
    color: var(--callout-color);
  }
}

.callout-title {
  align-items: center;
  color: var(--callout-color);
  cursor: pointer;
  display: flex;
  font-size: inherit;
  font-weight: bold;
  gap: 7px;
  line-height: 1.3;
  padding: 0;
}

.callout-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.callout-fold {
  background-color: var(--callout-color);
  mask-image: var(--callout-collapse-icon);
  mask-size: 100%;
  -webkit-mask-image: var(--callout-collapse-icon);
  -webkit-mask-size: 100%;
  height: 20px;
  width: 20px;
  transition: 0.1s ease-in-out;
}

.callout-content {
  padding: 0;
}

details[close].callout > .callout-title > .callout-fold {
  transform: rotate(-90deg);
}

details[open].callout > .callout-title > .callout-fold {
  transform: rotate(90deg);
}

.callout[data-callout="info"],
.callout[data-callout="todo"] {
  --callout-icon: lucide-check-circle-2;
  --callout-color: var(--sapphire);
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  --callout-icon: lucide-check;
  --callout-color: var(--green);
}

.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  --callout-icon: lucide-alert-triangle;
  --callout-color: var(--peach);
}

.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
  --callout-icon: lucide-alert-mark;
  --callout-color: var(--yellow);
}

.callout[data-callout="danger"],
.callout[data-callout="error"],
.callout[data-callout="bug"],
.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  --callout-icon: lucide-zap;
  --callout-color: var(--red);
}

.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  --callout-icon: lucide-flame;
  --callout-color: var(--pink);
}

.callout[data-callout="example"] {
  --callout-icon: lucide-list;
  --callout-color: var(--mauve);
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
  --callout-icon: lucide-clipboard-list;
  --callout-color: var(--teal);
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-icon: quote-glyph;
  --callout-color: var(--lavender);
}
