/* min-width: 1024px */
.is-hidden-desktop {
  display: none;
}

.navbar-burger {
  display: none;
}

.navbar-container {
  max-width: 1260px;
}

/* navbar */
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  flex-shrink: 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
  background-color: transparent;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

#icarus-toc-container {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.toc-button {
  display: none;
}

.toc-body {
  display: block;
  background: transparent;
}

.toc {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toc-item {
  list-style: none;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

/* Text Label */
.toc-text {
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
  font-size: 0.9rem;
  color: var(--text);
  white-space: nowrap;
  position: absolute;
  right: 100%;
  margin-right: 10px;
  pointer-events: none;
}

/* Hover on Container -> Show all text */
#icarus-toc-container:hover .toc-text {
  opacity: 1;
  transform: translateX(0);
}

.toc-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  height: 23px;
  position: relative;
  &:hover {
    &::after {
      background-color: var(--rosewater);
      box-shadow: 0 0 8px var(--lavender);
    }
    .toc-text {
      color: var(--mauve);
    }
  }
}

/* The Abstract Bar */
.toc-link::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: var(--surface0);
  transition: all 0.3s ease;
  margin-left: 15px;
}

/* Level variations - Width */
.toc-level-1 > .toc-link::after {
  width: 30px;
}

.toc-level-2 > .toc-link::after {
  width: 30px;
}

.toc-level-3 > .toc-link::after {
  width: 24px;
}

.toc-level-4 > .toc-link::after {
  width: 18px;
}

.toc-level-5 > .toc-link::after {
  width: 14px;
}

.toc-level-6 > .toc-link::after {
  width: 10px;
}

/* Hide children lists container styling if any */
.toc-child {
  padding: 0;
  margin: 0;
  display: contents;
}
