span.year {
  font-size: 3em !important;
}

.is-hidden-mobile {
  display: none;
}

table {
  font-size: 14px;
}

th,
td {
  padding: 8px 12px;
}

.section {
  padding: 0;
}

.cover-image {
  max-height: 25vh;
  border-radius: 0;
}

.pagination {
  height: 2.5em;
}
