/* @media screen and (min-width $tablet), print */
.is-hidden-tablet {
  display: none;
}

/* level item */
.level {
  display: flex;
  flex-grow: 1;
}

/* pagination */
.pagination-list {
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  order: 1;
}

.pagination-previous {
  order: 2;
}

.pagination-next {
  order: 3;
}

.page-shell-home,
.page-shell-post {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.article-feed--with-cover {
  grid-template-columns: minmax(0, 1fr) 190px;
  align-items: center;
}

.article-feed-cover {
  width: 190px;
  justify-self: end;
}

.pagination {
  justify-content: space-between;
}

.pagination-previous {
  order: 1;
}

.pagination-list {
  justify-content: center;
  order: 2;
}

.pagination-next {
  order: 3;
}
